@import "./bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap-variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,body {
    font-family: 'Open Sans', sans-serif;
}
.navbar-inverse {
    background-color: #9C0A0D;
    border-color: #9C0A0D;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #9C0A0D;
}
.navbar-brand {
    padding: 0px;
}