@import "./bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap-variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,body {
    font-family: 'Open Sans', sans-serif;
}
.navbar-inverse {
    background-color: #9C0A0D;
    border-color: #9C0A0D;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #9C0A0D;
}
.navbar-brand {
    padding: 0px;
}

.filter-boxes ul{
    padding-left: 0px; 
}
.filter-boxes li{
    list-style: none;
        margin-bottom: 7px;
}
.filter-boxes li input[type="radio"], input[type="checkbox"]{
   margin: 0px;
   margin-right: 5px;
}
.filter-boxes .panel{ 
    border-radius: 0px;
}

.filter-boxes .panel-title{ 
    font-size: 13px;
}
.filter-boxes .panel-default>.panel-heading {
    background: transparent;
}

.filter-boxes .panel-title a{ 
    font-weight: bold;
}

.filter-boxes .panel-body{ 
    padding: 10px;
}
.filter-boxes .panel-body label{ 
    font-weight: normal;
    font-size: 13px;
    display: inline;
}
.fCount {
    font-style: italic;
    color: #999;
    font-size: 9px;
}
#collapseFour select{
    width: 100%;
    padding: 5px;
}
.table td{
    font-size: 13px;
     border-top: none !important;
}
.border-row td {
   
    border-bottom: 1px dotted #9C0A0D !important;
}

@media only screen and (max-width: 800px) {
	
	/* Force table to not be like tables anymore */
	#resp-tables table, 
	#resp-tables thead, 
	#resp-tables tbody, 
	#resp-tables th, 
	#resp-tables td, 
	#resp-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#resp-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#resp-tables tr { border: 1px solid #ccc; }
 
	#resp-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#resp-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#resp-tables td:before { content: attr(data-title); }
}
.main {
  
    margin-top: 60px;
    .selected-filters {
        padding: 10px 0px;
    }
    .dropdown-menu {
        a {
            display: block;
            padding: 5px 20px;
        }
    }
    .heaader-paging {
        border-top: solid 1px #ccc; 
        border-bottom: solid 1px #ccc;
        background: #e5f6ff; 
        margin-top:10px;
        margin-bottom:20px;
        padding: 5px 0px 5px 10px;
        height: 45px;
        .form-group {
            margin-bottom: 0px;
        }
       
        .pagination {
            margin: 0px;
            margin-right: 10px;
        }
    }
     @media only screen and (min-width: 426px) {
        #search{
            max-width: 230px;
        }
     }
      @media only screen and (max-width: 425px) {
        .clear-pull-right {
           width: 50%;
        }
         .heaader-paging {
            #search{
                width: 95% !important;
                margin-bottom: 5px;
            }
         }
        
    }
}